[submodule "premium/testTab"]
	path = premium/testTab
	url = git@git.home.arpa:HOMESERVERSLTD/testTab.git
	branch = main
[submodule "premium/conflictTab"]
	path = premium/conflictTab
	url = git@git.home.arpa:HOMESERVERSLTD/conflictTab.git
	branch = main
[submodule "premium/backupTab"]
	path = premium/backupTab
	url = git@git.home.arpa:HOMESERVERSLTD/backupTab.git
	branch = main
[submodule "premium/miner"]
	path = premium/miner
	url = git@git.home.arpa:HOMESERVERSLTD/miner.git
	branch = main
[submodule "premium/dhcp"]
	path = premium/dhcp
	url = git@git.home.arpa:HOMESERVERSLTD/dhcp.git
	branch = main
[submodule "premium/youtube"]
	path = premium/youtube
	url = git@git.home.arpa:HOMESERVERSLTD/youtube.git
	branch = main
[submodule "premium/nasLinker"]
	path = premium/nasLinker
	url = git@git.home.arpa:HOMESERVERSLTD/nasLinker.git
	branch = main
[submodule "premium/backblazeTab"]
	path = premium/backblazeTab
	url = git@git.home.arpa:HOMESERVERSLTD/backblazeTab.git
	branch = main
[submodule "premium/wakeonlan"]
	path = premium/wakeonlan
	url = git@git.home.arpa:HOMESERVERSLTD/wakeonlan.git
	branch = main
